.head12 {
  align-self: stretch;
  padding: 24px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.orgz {
  height: 100%;
}
.orglogo {
  display: flex;
  align-items: center;
  gap: 5.52px;
}
.orgdets {
  display: flex;
  width: 1192px;
  padding: 80px 80px 120px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}
.orgbody {
  display: flex;
  align-items: flex-start;
  width: auto;
}
.pamoja {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.sidebar {
  display: flex;
  width: 320px;
  padding: 80px 40px 80px 80px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.sbar {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.orgdets {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}
.welcome {
  width: auto;
  display: flex;
  justify-content: space-between;
  gap: 250px;
  align-items: center;
  align-self: stretch;
}
.orgname {
  color: var(--neutrals-primary-text-cta, var(--Neutrals-Dark, #040404));
  font-feature-settings: "clig" off, "liga" off;

  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.8px;
}
.btncreate {
  display: flex;
  padding: 20px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  color: aliceblue;
  background: var(--Neutrals-Dark, #040404);
}
.specs {
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  border-radius: 20px;
border: 1px solid #DEDEDE;
}

.period {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 30px;
  width: 170px;
  font-size: 10px;
  border-radius: 24px;
  border: 1px solid var(--Neutrals-Stroke, #cdcdcd);
}
.gross {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.rev {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.rev11 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}
.rev12 {
  color: var(--Neutrals-Secondary-Text, var(--Neutrals-Secondary-Text, #666));
  font-feature-settings: "clig" off, "liga" off;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 144%;
}
.rev13 {
  color: var(--neutrals-primary-text-cta, var(--Neutrals-Dark, #040404));
  font-feature-settings: "clig" off, "liga" off;

  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.96px;
}
.perc {
  display: flex;
  align-items: center;
  gap: 20px;
}
.sales {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
}
.sal {
  color: var(--Neutrals-Secondary-Text, var(--Neutrals-Secondary-Text, #666));
  font-feature-settings: "clig" off, "liga" off;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 144%;
}
.saldig {
  color: var(--neutrals-primary-text-cta, var(--Neutrals-Dark, #040404));
  font-feature-settings: "clig" off, "liga" off;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.orgprofile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.pamoja {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.ptxt {
  color: var(--Neutrals-Secondary-Text, var(--Neutrals-Secondary-Text, #666));
  text-align: center;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.plink {
  color: #0167f6;
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hamburger {
  display: none;
}
@media screen and (max-width: 768px) {
  .orgbody {
    height: 100%;
  }
  .orgz {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* height: auto; */
  }
  .head12 {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .content {
    display: flex;
    width: auto;
  }
  .orgbody {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .orgdets {
    width: auto;
  }
  .sidebar {
    width: auto;
    display: none;
  }
  .welcome {
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 10px;
  }
}
