/* Organizers.css */

.orgz {
  display: flex;
  /* width: 100vw; */
  padding-bottom: 50px;
  flex-direction: column;
  align-items: flex-start;
}

.head12 {
  display: flex;
  padding: 24px 80px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}


.orglogo {
  display: flex;
  align-items: center;
}

.orglogo img {
  margin-right: 10px;
  width: 50px; /* adjust logo width */
  height: 50px; /* adjust logo height */
  border-radius: 50%; /* add rounded corners to logo */
}

.bell,
.user {
  margin-left: 10px;
  cursor: pointer;
}

.sidebar {
  display: flex;
  width: 320px;
  padding: 80px 40px 80px 80px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.orgbody{
  display: flex;
  align-items: flex-start;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.dash{
  color: #0167F6;
font-family: "DM Sans";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.sbar {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 12px;
background: #E6F0FD;
}

.sbar:hover {
  background-color: #eee;
}

.sbar svg {
  margin-right: 10px;
  font-size: 20px;
}

.orgdets {
  display: flex;
  width: 1192px;
  padding: 80px 80px 120px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}

.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.specs {
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  border-radius: 20px;
border: 1px solid #DEDEDE;
}

.orgprofile {
  display: flex;
justify-content: center;
align-items: center;
gap: 16px;
border-radius: 40px;
}

.orgprofile img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
}

.pamoja {
  display: flex;
  flex-direction: column;
}

.plink {
  font-size: 12px;
  color: #aaa;
  cursor: pointer;
  text-decoration: underline;
}

.period {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
border: 1px solid var(--Neutrals-Stroke, #CDCDCD);
}

.dropdown select {
  border: none;
  font-size: 14px;
  padding: 5px;
}

.rev11 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}

.rev {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.rev12 {
  color: var(--Neutrals-Secondary-Text, var(--Neutrals-Secondary-Text, #666));
font-feature-settings: 'clig' off, 'liga' off;
font-family: "DM Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 144%; /* 23.04px */
}

.rev13 {
  color: var(--neutrals-primary-text-cta, var(--Neutrals-Dark, #040404));
font-feature-settings: 'clig' off, 'liga' off;
font-family: "DM Sans";
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 57.6px */
letter-spacing: -0.96px;
}

.perc {
  display: flex;
  align-items: center;
  gap: 20px;
}

.gross {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.sales {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  border-radius: 16px;
}

.sal {
  color: var(--Neutrals-Secondary-Text, var(--Neutrals-Secondary-Text, #666));
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 144%; /* 23.04px */
}

.saldig {
  color: var(--neutrals-primary-text-cta, var(--Neutrals-Dark, #040404));
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}