.container11 {
  width: auto;
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 50px;
  margin: 4% 0;
}
.btn {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  border-radius: 8px;
  background: #040404;
}
.btn:hover {
  background: rgba(4, 4, 4, 0.32);
  color: #040404;
}
.evt1 {
  display: flex;
  padding: 24px 120px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.logo11 {
  display: flex;
  align-items: center;
  gap: 15px;
}
.searchbar11 {
  display: flex;
  width: 400px;
  padding: 24px;
  align-items: center;
  align-self: stretch;
}
.navlinks {
  display: flex;
  align-items: center;
  gap: 16px;
}
.neutral {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.upper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.head1 {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}
.head2 {
  color: var(--Neutrals-Dark, #040404);
  text-wrap: wrap;
  font-size: 26px;

  font-weight: 500;
  line-height: 144%;
  letter-spacing: -0.64px;
}
.tik {
  color: var(--Neutrals-Dark, #040404);
  font-size: 20px;

  font-weight: 500;
  line-height: normal;
}
.time {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  font-size: 15px;
}
.tiktype {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 518px;
  font-size: 12px;
}
.tiktype4 {
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-self: stretch;
  width: 518px;
  font-size: 12px;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.det2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.bird {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.chipset {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #f5f5f5;
}
.bird h1 {
  overflow: hidden;
  color: var(--Neutrals-Dark, #040404);
  font-feature-settings: "clig" off, "liga" off;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 600;
}
.adm {
  display: flex;
  gap: 10px;
  align-items: center;
}
.adm h3 {
  color: #34c759;
  font-size: 16px;
  padding: 0;
  margin: 0;
  line-height: normal;
}
.tiktype2 {
  display: flex;
  justify-content: space-between;
}

.tickdet {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  align-self: stretch;
}
.checkout {
  display: flex;
  flex-direction: column;
}

.total {
  overflow: hidden;
  color: #040404;
  font-feature-settings: "clig" off, "liga" off;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 500;
  line-height: 144%;
  padding: 10px 0;
  text-align: center;
}
.check {
  color: aliceblue;
  display: flex;
  padding: 20px 24px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  gap: 8px;
  align-self: stretch;
  border-radius: 12px;
  background: var(--Neutrals-Dark, #040404);
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.check:hover {
  background: #f5f5f5;
  color: #040404;
  border: 1px #040404 dashed;
}
.bott {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.bott1 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.exp {
  display: flex;
  justify-content: space-between;
}
.org {
  color: var(--Neutrals-Dark, #040404);
  font-size: 15px;

  font-weight: 500;
  line-height: normal;
}
.circle {
  border-radius: 32px;
  background: #e7e7e7;
  width: 34px;
  height: 34px;
}
.momnt {
  overflow: hidden;
  color: #5c5c5c;
  font-feature-settings: "clig" off, "liga" off;
  text-overflow: ellipsis;
  font-size: 15px;

  font-weight: 500;
  line-height: normal;
}
.follow {
  border-radius: 12px;
  border: 1px solid var(--Neutrals-Dark, #040404);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
@media screen and (max-width: 768px) {
  .container11 {
    /* gap: px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

  }
.evt1{
  display: flex;
  flex-direction: column;
}
.neutral{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo11{
  display: flex;
  flex-direction: column;
}
  .searchbar11 {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
  }

  .tiktype,
  .tiktype4 {
    width: 100%;
  }
}
