.container5 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;

}
.form-error {
  color: red;
}
.btn {
  background-color: #040404;
  color: aliceblue;
  border-radius: 14px;
  padding: 5px;
}
.header3 {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  width: 100%;
}
.welcome {
  color: var(--Neutrals-Dark, #040404);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 42px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;
}
.body3 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width:50%;
  align-items: flex-start;
}
.pass3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.pass3 input {
  padding: 15px 10px;
  margin-top: 10px;
  width: 38.4vw;
  border-radius: 15px;
  border-radius: 8px;
  border: 1.6px solid var(--Neutrals-Stroke, #dedede);
}
.button3 {
  width: 39.6vw;
  margin-top: 20px;
  padding: 15px 10px;
  border-radius: 15px;
  background-color: black;
  color: aliceblue;
  cursor: grab;
}
.e-add {
  display: flex;
  width: 100%;
  padding: 3% 0;
}
.send {
  color: blue;
  color: #0167f6;
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  line-height: normal;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}
.orr {
  margin-bottom: 15px;
}
.googlebtn {
  margin-bottom: 25px;
  width: 39.4vw;
  padding: 15px 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.applebtn {
  display: flex;
  width: 39.4vw;
  padding: 15px 10px;
  border-radius: 15px;
  margin-bottom: 25px;
  gap: 10px;
  justify-content: center;
}
.pass4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  width:100%;
}
.signupbtn {
  margin-top: 18px;
  width: 39.4vw;
  padding: 15px 10px;
  border-radius: 15px;
  color: black;
}
.google {
  color: var(--Neutrals-Dark, #040404);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
.apple {
  color: var(--Neutrals-Dark, #040404);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
@media (max-width: 768px) {
  .container5 {
    padding: 0 20px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  .header3 {
    justify-content: center;
  }
  form {
    max-width: 90%;
  }
  .btn {
    display: none;
  }
  .googlebtn {
    width: auto;
  }
  .applebtn {
    width: auto;
  }
  .signupbtn {
    width: auto;
  }
  .button3 {
    width: auto;
  }
  .pass3 input {
    width: calc(100% - 20px);

    .googlebtn,
    .applebtn,
    .signupbtn {
      width: 90%;
    }

    .e-add {
      margin-right: 0;
      text-align: center;
    }
  }
}
