.body1 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 10%;
}
/* .as1 {
  text-decoration: none;
  color: black;
} */

.upComing {
  display: flex;
  justify-content: space-between;
}
.row1 {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;
  padding: 3% 0;
}
/* .row2 {
  display: flex;
  justify-content: space-around;
} */
.title1 {
  text-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  flex-basis: 0 1 24%;
  width: 300px;
  height: 300px;
  position: relative;
  transition: all ease-in-out 0.5s;
}
.card:hover {
  border-radius: 16px;
  box-shadow: 2px 4px 16px #00000029;
  cursor: pointer;
  transform: scale(1.01, 1.01, 1.01);
}
.choral {
  width: 100%;
  height: 300px;
  position: relative;
}
.text-wrapper {
  padding: 20px;
  .title {
    font-weight: bold;
  }
}

.events {
  font-size: 25px;
  font-weight: 700;
}
.bttn {
  width: 270px;
  height: 40px;
  border-radius: 12px;
  background-color: #ebebeb;
  cursor: pointer;
  border: none;
  transition: all ease-in-out 0.5s;
}
.bttn:hover {
  background-color: black;
  color: #ebebeb;
}
.more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
