.review {
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
}

.headred {
  display: flex;
  justify-content: space-between;
  padding: 40px 140px;
}
.pay {
  display: flex;
  gap: 10px;
  color: "#040404";
  font: size 10px;
  font-weight: "400";
  word-wrap: "break-word";
}
.rev2 {
  display: flex;
  flex-direction: column;
  gap: 17px;
  /* background-color: aqua; */
  width: 600px;
  /* height: 20px; */
}
.paymethod {
  display: flex;
  flex-direction: column;
  gap: 17px;
  font-size: 17px;
  color: "#040404";
  font-size: 32;
  font-weight: "500";
  word-wrap: "break-word";
  /* background-color: blue; */
  width: 600px;
}
.credit {
  /* background-color: aqua; */
  display: flex;
  gap: 15px;
  border-style: ridge;
  border-radius: 5px;
  padding: 15px 10px;
  margin-top: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.place {
  background-color: black;
  color: aliceblue;
  border-radius: 8px;
  font-size: 16;

  font-weight: "500";
  word-wrap: "break-word";
  width: 70px;
}
.phone {
  width: 580px;
  padding: 15px 10px;
  margin-top: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.purchase {
  color: var(--Neutrals-Secondary-Text, #666);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;

  font-weight: 400;
  line-height: 144%;
}
.rev1 {
  display: flex;
  justify-content: space-around;
  /* background-color: blue; */
}
