.container4{
  display: flex;
  flex-direction: column;
}
.header2 {
  display: flex;
  justify-content: space-between;
  padding: 40px 20%;
}
.body2 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.pass2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.pass2 input {
  padding: 15px 10px;
  margin-top: 10px;
  width: 380px;
  border-radius: 15px;
}
.button2 {
  padding: 15px 10px;
  margin-top: 20px;
  width: 400px;
  border-radius: 15px;
  background-color: black;
  color: aliceblue;
}
.name2 {
  margin-right: 300px;
  margin-top: 10px;
}
.name {
  color: var(--Neutrals-Dark, #040404);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 32px;

  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.64px;
  margin-right: 110px;
}
@media (max-width: 768px) {
  .container4{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header2 {
    padding: 20px; 
  }

  .pass2 input {
    width: 90%; 
  }

  .button2 {
    width: 90%; 
  }

  .name2 {
    margin-right: 0; 
  }

  .name {
    margin-right: 0; 
  }
  .btn{
    display: none;
  }
}