.container4 {
  width: 100%;
  height: 100vh;
  display: flex;
flex-direction: column; 
}

.header2 {
  display: flex;
  justify-content: center;
  gap: 250px;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 20px;
}

.logo1 img {
  width: 100px;
  height: auto;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #555;
}

.body2 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.name {
 font-weight: 700;
 font-size: 32px;
}

.pass2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
 
}
.pass2 input{
  padding: 15px 10px;
  margin-top: 10px;
border-radius: 15px;
  width: 380px;
}
.name2 {
  margin-bottom: 5px;
  margin-right: 300px;
}

.password {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button2 {
  background-color: #080808;
  color: #fff;
  width: 400px;
  margin-top: 20px;
  border: none;
  padding: 15px 10px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.button2:hover {
  background-color: #0056b3;
}

.button:hover {
  background-color: #0056b3;
}

.errorInput {
  border-color: red; 
  color: red; 
}
.errorInput::placeholder{
color: red;
}

.error {
  color: red;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .header2 {
    gap: 20px; 
  }

  .pass2 input {
    width: 100%; 
    /* max-width: 300px;  */
  }
.password{
  width: auto;
}
  .name2 {
    margin-right: 0;
  }
.btn{display: none;}
  .button2 {
    width: 100%; 
    /* max-width: 300px; */
  }
}
