.names {
  display: flex;
  gap: 20px;
  
}
.header4 {
  display: flex;
  justify-content: space-between;
  padding: 40px 20%;
}
.div1 {
  padding: 10px 20%;
}
.error{
  color: red;
}
.where {
  color: var(--Neutrals-Dark, #040404);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 32px;

  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}
.names {
  margin-bottom: 15px;
}
.names input {
  padding: 15px 10px;
  margin-top: 10px;
  width: 300px;
  border-radius: 10px;
}
.email-address input {
  padding: 15px 10px;
  margin-top: 10px;
  width: 650px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.mobile-number input {
  padding: 15px 10px;
  margin-top: 10px;
  width: 300px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.as {
  text-decoration: none;
  color: white;
}
.as:hover {
  color: rgb(138, 85, 5);
}
.paybtn {
  padding: 15px 10px;
  margin-top: 20px;
  border-radius: 15px;
  background-color: black;
  color: aliceblue;
  cursor: grab;
}
.paybtn:hover {
  background-color: rgb(9, 235, 205);
}
.foooter {
  margin-top: 25vh;
}
.div1-div2 {
  display: flex;
}
@media screen and (max-width: 768px) {
  .header4 {
    padding: 40px 10%;
  }

  .div1 {
    padding: 10px 10%;
  }

  .where {
    font-size: 24px; 
  }
.names{
  display: flex;
  flex-direction: column;
}
  .names input,
  .email-address input,
  .mobile-number input {
    width: 100%; 
    max-width: 300px;

  .paybtn {
    margin-top: 15px; 
    
  }
.btn11{
  display: none;
}
  .foooter {
    margin-top: 10vh; 
  }
  }
}